html{
    background-color: grey;
}

#contenu{
    margin: 50px;
    padding: 20px;
    background-color: black;
    height: 600px;
}

#input{
    background-color: pink;
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}


.pop_up {
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#button{
    display : "";
}

#button2 {
    display : none;
}

#recup {
    display : ""
}

#recup2 {
    display : none;
}