html{
    background-color: grey;
}

#grid{
    margin: 50px;
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 10% 20% 1fr;
    height: 400px;
}

#input{
    padding-left: 20px;
    background-color: pink;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 50px;
}