html{
    background-color: grey;
}

#contenu{
    border-radius: 20px;
    margin: 50px;
    padding : 20px ;
    display: flex;
    background-color: black;
    flex-direction: column;
    height: 600px;
    align-items: center;
}


#input{
    border-radius: 20px;
    background-color: pink;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 70px;
    padding-left: 70px;
    margin-bottom: 40px;
}


#plus {
    background-color: blue;
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

#moins {
    background-color: blue;
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

#button{
    display : none;
    
}

#button2 {
    display : none;
}

#recup {
    display : none;
}

#recup2 {
    display : none;
}

#buttonPlus {
    display : none;
    
}

#buttonMoins {
    display : none;
}

#buttonCestCa{
    display : none;
}

#BlocChiffreAleatoire {
    background-color: blue;
    grid-row: 4;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    text-align: center;
}

#AfficherChiffreEnregistre {
    display : none;
    background-color: grey ;
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    
}

#Niveau {
    margin-top: 20px;
    grid-row: 1;
    grid-column: 2;
    display: "";
    text-align: center;
    margin-bottom: 20px;
}

#SourisOverLesNiveaux section  {
    border-radius: 20px ;
    background-color : #CCD1D1 ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    display : none;
}

#ScoreMoi {
    background-color : #199F9F ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    display : none;
}